streamlit==1.36.0
langchain==0.2.1
langchain-community==0.2.1
langchain-google-genai==1.0.6
google-generativeai==0.7.2
langchain-pinecone==0.1.1
pypdf==4.2.0
python-dotenv==1.0.1
tiktoken==0.7.0
pinecone-client==4.1.0
